<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">
	
	<absolute-ordering>
		<name>spring_web</name>
	</absolute-ordering>
	
	<resource-ref>
		<description>postgreSQL Datasource</description>
		<res-ref-name>jdbc/scuola247</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<error-page>
		<exception-type>org.springframework.security.web.authentication.rememberme.CookieTheftException</exception-type>
		<location>/login.html</location>
	</error-page>	
</web-app>